In [8]:
import pandas as pd
import pymongo

conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Define the 'classDB' database in Mongo
db = client.billboard_db

# Query all students
# Here, db.students refers to the collection 'classroom '
music = db.all_number_one_songs

#set the routes and render remplates for all the html files

    # Query for the emoji data using pandas
df = pd.DataFrame(list(music.find()))
df.head()

,_id,artist,issue_date,title,year
0,5e346883e157b4674001bd72,Ricky Nelson,"[August 4, August 11]",Poor Little Fool,1958
1,5e346883e157b4674001bd73,Domenico Modugno,[August 18],Nel Blu Dipinto Di Blu (Volaré),1958
2,5e346883e157b4674001bd74,The Elegants,[August 25],Little Star,1958
3,5e346883e157b4674001bd75,Domenico Modugno,"[September 1, September 8, September 15, Septe...",Nel Blu Dipinto Di Blu (Volaré),1958
4,5e346883e157b4674001bd76,Tommy Edwards,"[September 29, October 6, October 13, October ...",It's All In The Game,1958

In [13]:
df['Length'] = df['issue_date'].str.len()

In [14]:
df.head()

,_id,artist,issue_date,title,year,Length
0,5e346883e157b4674001bd72,Ricky Nelson,"[August 4, August 11]",Poor Little Fool,1958,2
1,5e346883e157b4674001bd73,Domenico Modugno,[August 18],Nel Blu Dipinto Di Blu (Volaré),1958,1
2,5e346883e157b4674001bd74,The Elegants,[August 25],Little Star,1958,1
3,5e346883e157b4674001bd75,Domenico Modugno,"[September 1, September 8, September 15, Septe...",Nel Blu Dipinto Di Blu (Volaré),1958,4
4,5e346883e157b4674001bd76,Tommy Edwards,"[September 29, October 6, October 13, October ...",It's All In The Game,1958,6

In [15]:
df = df.sort_values(by='Length', ascending=False)

In [17]:
df = df.head(10)

In [18]:
df.head(10)

,_id,artist,issue_date,title,year,Length
1182,5e346883e157b4674001c210,Luis Fonsi & Daddy Yankee Featuring Justin Bieber,"[May 27, June 3, June 10, June 17, June 24, Ju...",Despacito,2017,16
846,5e346883e157b4674001c0c0,Boyz II Men,"[August 27, September 3, September 10, Septemb...",I'll Make Love To You,1994,14
1148,5e346883e157b4674001c1ee,Mark Ronson Featuring Bruno Mars,"[January 17, January 24, January 31, February ...",Uptown Funk!,2015,14
867,5e346883e157b4674001c0d5,Los Del Rio,"[August 3, August 10, August 17, August 24, Au...",Macarena (Bayside Boys Mix),1996,14
1061,5e346883e157b4674001c197,The Black Eyed Peas,"[July 11, July 18, July 25, August 1, August 8...",I Gotta Feeling,2009,14
824,5e346883e157b4674001c0aa,Boyz II Men,"[August 15, August 22, August 29, September 5,...","End Of The Road (From ""Boomerang"")",1992,13
890,5e346883e157b4674001c0ec,Brandy & Monica,"[June 6, June 13, June 20, June 27, July 4, Ju...",The Boy Is Mine,1998,13
1060,5e346883e157b4674001c196,The Black Eyed Peas,"[April 18, April 25, May 2, May 9, May 16, May...",Boom Boom Pow,2009,12
879,5e346883e157b4674001c0e1,Elton John,"[October 11, October 18, October 25, November ...",Candle In The Wind 1997/Something About The Wa...,1997,12
1171,5e346883e157b4674001c205,The Chainsmokers Featuring Halsey,"[September 3, September 10, September 17, Sept...",Closer,2016,12